# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled files
build/
dist/
release/

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
/node_modules

# Emacs
*~
\#*

# Mac
.DS_Store

# bower components
bower_components/

# dotenv
.env
